a{
    font-weight:bold;
    color:darkblue;
}



.heading3{
    font-size: 24px;
}

p{
    text-align: justify;
    color: darkblue;
    font-family:Arial, Helvetica, sans-serif;
}

.underline{
    text-decoration: underline;
}

li{
    text-align: justify;
    color: darkblue;
    font-family:Arial, Helvetica, sans-serif;
}